body{
	display: grid;
	grid-template-areas: "fejlec" "szoveg";
	grid-template-rows: max-content 1fr max-content;
	background-color:#bdffa6;
	font-size: 13pt;
	font-family: Arial;
	color: solid black;
}
main{
    width: 70%;
    border-radius: 10px;
    margin:auto;
    box-sizing: border-box;
    padding-top: 1rem;
}
header{
	font-size: 20pt;
	grid-area: auto;
	width: 100%;
	position: sticky;
}
h1{
	color: #27c521;
	font-size: 50px;
	width: 70%;
	border-radius: 10px;
	text-decoration: none;
	margin: auto;
	padding-top: 1rem;
}
p{
	color: solid black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	font-size: 16pt;
}
a{
	text-decoration: : none;
}
a: link{
	color: #ffffff;
}
.button{
    text-align: center;
    letter-spacing: 1px;
    color: #29d1ff;
    background-color: #27c521;
    border-radius: 10px;
    margin: 6px;
    font-size: 30px;
    align-items: center;
    border-collapse: separate;
    
}
.button:hover{
	cursor: pointer;
}
.doboz{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	box-sizing: border-box;
	grid-gap: 1.5rem;
	margin: 3rem 10%;
	border:  2px solid black;
	border-radius: 10px;
}
img{
	max-width: 300px;
	display: block;
	padding: 15px;
	gap: 1.5rem;
}
.tervrajz{
	max-width: 50%;
	max-height: 50%;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}