body{
	background-color: #bdffa6;
	font-family: Arial;
	font-size: 13pt;
	display: grid;
	grid-template-areas: "fejlec" "szoveg";
	grid-template-rows: max-content 1fr max-content;
}
main{
	width: 70%;
	border-radius: 10px;
	text-decoration: none;
	margin: auto;
	padding-top: 1rem;
}
header{
	font-size: 20pt;
	grid-area: auto;
	width: 100%;
}
h1{
	color: #27c521;
	font-size: 50px;
	width: 70%;
	border-radius: 10px;
	text-decoration: none;
	margin: auto;
	padding-top: 1rem;
}
p{
	color: solid black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	font-size: 16pt;
}
a{
	text-decoration: : none;
}
a: link{
	color: #ffffff;
}
.button{
	text-align:  center;
	letter-spacing:  1px;
	font-size: 30px;
	font-weight: bold;
	color: #29d1ff;
	background-color: #27c521;
	display: inline-block;
	margin: 6px;
	border-radius: 10px;

}
.button:hover{
	cursor: pointer;
}
.doboz{
	display: grid;
	grid-template-columns: auto auto auto;
	box-sizing: border-box;
	grid-gap: 1.5rem;
	margin: 3rem 10%;
	border:  2px solid black;
	border-radius: 10px;
}
img{
	max-width: 400px;
	display: block;
	padding: 15px;
	gap: auto;
}
.tervrajz{
	max-width: 50%;
	max-height: 50%;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}